:root {
    --color-light: #f3f6f7;
    --color-light-grey:#b0b0b3;
    --color-accent-grey:#8e8687;
    --color-light-text: #f3f6f7;
    --color-dark-text: #383f63;
    --color-light-blue: #5264a8;
    --color-red: #e56e72;
  }